@import normalize

$color-maroon: #5f264e
$color-cream: #f2df91
$color-seafoam: #a9e5bb

.page-header
  

  position: relative
  max-width: 75vh
  margin: 20vh auto
  text-align: center
  color: $color-cream

  &:before
    $accent-gap: .3em
    $accent-top-width: .1em
    $accent-bottom-width: .5em

    content: ""
    display: block
    position: absolute
    top: ($accent-gap + $accent-top-width) * -1
    z-index: 0
    width: 100%
    height: calc(100% + 5vw)
    padding-top: $accent-gap
    transform: rotate(-2deg)
    transform-origin: left $accent-gap + $accent-top-width    
    border-top: $accent-top-width solid rgba($color-maroon, .5)
    border-bottom: $accent-bottom-width solid rgba($color-seafoam, .5)
    background-color: $color-maroon
    background-clip: content-box

  .heading
    position: relative
    z-index: 1

    &__subtitle
      display: block
      font-size: .75em
      color: $color-seafoam

  @media (min-width: 320px)
    max-width: 75vw