---
permalink: '/'
---
{% assign copy_rights = "rights-" | append: site.active_lang | append: ".md" %}
{% assign copy_process = "process-" | append: site.active_lang | append: ".md" %}
{% assign copy_medical = "medical-" | append: site.active_lang | append: ".md" %}

{% assign data = site.data[site.active_lang] %}

<!doctype HTML>
<html lang="{{ site.active_lang }}">
  <head>
    <meta charset="UTF-8" />
    {% I18n_Headers %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>{{ site.data[site.active_lang].title }}</title>
  </head>

  <body class="body" dir="{{ site.data[site.active_lang].dir }}">
    <header class="page-header">
      <h1 class="heading">
        {{ site.data[site.active_lang].title }}
        <small class="heading__subtitle">{{ site.data[site.active_lang].subtitle }}</small>
      </h1>

      <div class="logos">
        <img class="logos__logo logos__logo--clinic" src="../assets/clinic-logo.svg" />
        <img class="logos__logo logos__logo--clinic" src="../assets/tau-logo.svg" />
    </header>

    <section class="section section--rights">
      <h2 class="section__heading">{{ data.headings.rights }}</h2>

      <div class="section__body">
        {% capture rights %}{% include {{ copy_rights }} %}{% endcapture %} {{ rights | markdownify }}
      </div>
    </section>

    <section class="section section--process">
      <h2 class="section__heading">{{ data.headings.process }}</h2>

      <div class="section__body">
        {% capture process %}{% include {{ copy_process }} %}{% endcapture %} {{ process | markdownify }}
      </div>
    </section>

    <section class="section section--medical">
      <h2 class="section__heading">{{ data.headings.medical }}</h2>

      <div class="section__body">
        {% capture medical %}{% include {{ copy_medical }} %}{% endcapture %} {{ medical | markdownify }}
      </div>
    </section>
  </body>
</html>
