---
permalink: '/'
---
{% assign copy_rights = "rights-" | append: site.active_lang | append: ".md" %}
{% assign copy_process = "process-" | append: site.active_lang | append: ".md" %}
{% assign copy_medical = "medical-" | append: site.active_lang | append: ".md" %}

<!doctype HTML>
<html lang="{{ site.active_lang }}">
  <head>
    <meta charset="UTF-8" />
    {% I18n_Headers %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>{{ site.data[site.active_lang].title }}</title>
  </head>

  <body class="body" dir="{{ site.data[site.active_lang].dir }}">
    <header class="page-header">
      <h1 class="heading">
        {{ site.data[site.active_lang].title }}
        <small class="heading__subtitle">{{ site.data[site.active_lang].subtitle }}</small>
      </h1>
    </header>

    <section class="section section--rights">
      {% capture rights %}{% include {{ copy_rights }} %}{% endcapture %} {{ rights | markdownify }}
    </section>

    <section class="section section--rights">
      {% capture process %}{% include {{ copy_process }} %}{% endcapture %} {{ process | markdownify }}
    </section>

    <section class="section section--rights">
      {% capture medical %}{% include {{ copy_medical }} %}{% endcapture %} {{ medical | markdownify }}
    </section>
  </body>
</html>
